In [41]:
import pandas as pd
from bs4 import BeautifulSoup
import pymysql, calendar, time, json
import requests
from datetime import datetime
from threading import Timer

In [42]:
class DBUpdater:  
    def __init__(self):
        """생성자: MariaDB 연결 및 종목코드 딕셔너리 생성"""
        self.conn = pymysql.connect(host='localhost', user='root',
            password='1234', db='INVESTAR', charset='utf8')
        
        with self.conn.cursor() as curs:
            sql = """
            CREATE TABLE IF NOT EXISTS company_info (
                code VARCHAR(20),
                company VARCHAR(40),
                last_update DATE,
                PRIMARY KEY (code))
            """
            curs.execute(sql)
            sql = """
            CREATE TABLE IF NOT EXISTS daily_price (
                code VARCHAR(20),
                date DATE,
                open BIGINT(20),
                high BIGINT(20),
                low BIGINT(20),
                close BIGINT(20),
                diff BIGINT(20),
                volume BIGINT(20),
                PRIMARY KEY (code, date))
            """
            curs.execute(sql)
        self.conn.commit()
        self.codes = dict()
               
    def __del__(self):
        """소멸자: MariaDB 연결 해제"""
        self.conn.close() 
     
    def read_krx_code(self):
        """KRX로부터 상장기업 목록 파일을 읽어와서 데이터프레임으로 반환"""
        url = 'http://kind.krx.co.kr/corpgeneral/corpList.do?method='\
            'download&searchType=13'
        krx = pd.read_html(url, header=0)[0]
        krx = krx[['종목코드', '회사명']]
        krx = krx.rename(columns={'종목코드': 'code', '회사명': 'company'})
        krx.code = krx.code.map('{:06d}'.format)
        return krx
    
    def update_comp_info(self):
        """종목코드를 company_info 테이블에 업데이트 한 후 딕셔너리에 저장"""
        sql = "SELECT * FROM company_info"
        df = pd.read_sql(sql, self.conn)
        for idx in range(len(df)):
            self.codes[df['code'].values[idx]] = df['company'].values[idx]
                    
        with self.conn.cursor() as curs:
            sql = "SELECT max(last_update) FROM company_info"
            curs.execute(sql)
            rs = curs.fetchone()
            today = datetime.today().strftime('%Y-%m-%d')
            if rs[0] == None or rs[0].strftime('%Y-%m-%d') < today:
                krx = self.read_krx_code()
                for idx in range(len(krx)):
                    print("=============")
                    print(krx.code)
                    code = krx.code.values[idx]
                    company = krx.company.values[idx]                
                    sql = f"REPLACE INTO company_info (code, company, last"\
                        f"_update) VALUES ('{code}', '{company}', '{today}')"
                    curs.execute(sql)
                    self.codes[code] = company
                    tmnow = datetime.now().strftime('%Y-%m-%d %H:%M')
                    print(f"[{tmnow}] #{idx+1:04d} REPLACE INTO company_info "\
                        f"VALUES ({code}, {company}, {today})")
                self.conn.commit()
                print('')              

    def read_naver(self, code, company, pages_to_fetch):
        """네이버에서 주식 시세를 읽어서 데이터프레임으로 반환"""
        try:
            url = f"http://finance.naver.com/item/sise_day.nhn?code={code}"
            html = BeautifulSoup(requests.get(url,
                headers={'User-agent': 'Mozilla/5.0'}).text, "lxml")
            pgrr = html.find("td", class_="pgRR")
            if pgrr is None:
                return None
            s = str(pgrr.a["href"]).split('=')
            lastpage = s[-1] 
            df = pd.DataFrame()
            pages = min(int(lastpage), pages_to_fetch)
            for page in range(1, pages + 1):
                pg_url = '{}&page={}'.format(url, page)
                df = df.append(pd.read_html(requests.get(pg_url,
                    headers={'User-agent': 'Mozilla/5.0'}).text)[0])                                          
                tmnow = datetime.now().strftime('%Y-%m-%d %H:%M')
                print('[{}] {} ({}) : {:04d}/{:04d} pages are downloading...'.
                    format(tmnow, company, code, page, pages), end="\r")
           
            df = df.rename(columns={'날짜':'date','종가':'close','전일비':'diff'
                ,'시가':'open','고가':'high','저가':'low','거래량':'volume'})
            df['date'] = df['date'].replace('.', '-')
            df = df.dropna()
            df[['close', 'diff', 'open', 'high', 'low', 'volume']] = df[['close',
                'diff', 'open', 'high', 'low', 'volume']].astype(int)
            df = df[['date', 'open', 'high', 'low', 'close', 'diff', 'volume']]
        except Exception as e:
            print('Exception occured :', str(e))
            return None
        return df
    
    # 네이버에서 읽어온 주식 시세를 DB에 REPLACE
    def replace_into_db(self, df, num, code, company):
        with self.conn.cursor() as curs:
            for r in df.itertuples():
                sql = f"REPLACE INTO daily_price VALUES ('{code}', "\
                    f"'{r.date}', {r.open}, {r.high}, {r.low}, {r.close}, "\
                    f"{r.diff}, {r.volume})"
                curs.execute(sql)
            self.conn.commit()
            print('[{}] #{:04d} {} ({}) : {} rows > REPLACE INTO daily_'\
                'price [OK]'.format(datetime.now().strftime('%Y-%m-%d'\
                ' %H:%M'), num+1, company, code, len(df)))
    
    def update_daily_price(self, pages_to_fetch):
        for idx, code in enumerate(self.codes):

            if idx < 5:
                df = self.read_naver(code, self.codes[code], pages_to_fetch)
                if df is None:
                    continue
                self.replace_into_db(df, idx, code, self.codes[code])
            
            # 특정 주식만 넣고 싶은 경우 아래와 같이 한다
            # if code == '000660':#'005930':
            #     df = self.read_naver(code, self.codes[code], pages_to_fetch)
            #     if df is None:
            #         continue
            #     self.replace_into_db(df, idx, code, self.codes[code])
    
    # --------------------------------------------------
    def execute_daily(self):
        self.update_comp_info()
        
        try:
            with open('config.json', 'r') as in_file:
                config = json.load(in_file)
                pages_to_fetch = config['pages_to_fetch']
        except FileNotFoundError:
            with open('config.json', 'w') as out_file:
                pages_to_fetch = 100
                config = {'pages_to_fetch': pages_to_fetch}
                json.dump(config, out_file)                
        
        self.update_daily_price(pages_to_fetch)
    
    # --------------------------------------------------

In [47]:
dbu = DBUpdater()
df = dbu.execute_daily()
df

        종목코드        회사명
0       4840      DRB동일
1     155660        DSR
2      78930         GS
3       1250      GS글로벌
4     294870  HDC현대산업개발
...      ...        ...
2477  199800         툴젠
2478  217880         틸론
2479  222670   플럼라인생명과학
2480  331660   한국미라클피플사
2481  212310        휴벡셀

[2482 rows x 2 columns]
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0001 REPLACE INTO company_info VALUES (004840, DRB동일, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0002 REPLACE INTO company_info VALUES (155660, DSR, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0003 REPLACE INTO company_info VALUES (078930, GS, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0004 REPLACE INTO company_info VALUES (001250, GS글로벌, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0005 REPLACE INTO company_info VALUES (294870, HDC현대산업개발, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0006 REPLACE INTO company_info VALUES (011200, HMM, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0007 REPLACE INTO company_info VALUES (092220, KEC, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0008 REPLACE INTO company_info VALUES (016380, KG동부제철, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0009 REPLACE INTO company_info VALUES (001390, KG케미칼, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0010 REPLACE INTO company_info VALUES (058860, KTis, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0011 REPLACE INTO company_info VALUES (011070, LG이노텍, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0012 REPLACE INTO company_info VALUES (037560, LG헬로비전, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0013 REPLACE INTO company_info VALUES (010060, OCI, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0014 REPLACE INTO company_info VALUES (402340, SK스퀘어, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0015 REPLACE INTO company_info VALUES (096770, SK이노베이션, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0016 REPLACE INTO company_info VALUES (011810, STX, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0017 REPLACE INTO company_info VALUES (024070, WISCOM, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0018 REPLACE INTO company_info VALUES (011420, 갤럭시아에스엠, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0019 REPLACE INTO company_info VALUES (002100, 경농, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0020 REPLACE INTO company_info VALUES (012320, 경동인베스트, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0021 REPLACE INTO company_info VALUES (007690, 국도화학, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0022 REPLACE INTO company_info VALUES (005320, 국동, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0023 REPLACE INTO company_info VALUES (014530, 극동유화, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0024 REPLACE INTO company_info VALUES (013700, 까뮤이앤씨, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0025 REPLACE INTO company_info VALUES (353200, 대덕전자, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0026 REPLACE INTO company_info VALUES (128820, 대성산업, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0027 REPLACE INTO company_info VALUES (047040, 대우건설, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0028 REPLACE INTO company_info VALUES (003090, 대웅, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0029 REPLACE INTO company_info VALUES (145720, 덴티움, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0030 REPLACE INTO company_info VALUES (026890, 디피씨, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0031 REPLACE INTO company_info VALUES (286940, 롯데정보통신, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0032 REPLACE INTO company_info VALUES (027740, 마니커, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0033 REPLACE INTO company_info VALUES (008560, 메리츠증권, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0034 REPLACE INTO company_info VALUES (017180, 명문제약, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0035 REPLACE INTO company_info VALUES (204210, 모두투어리츠, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0036 REPLACE INTO company_info VALUES (003850, 보령제약, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0037 REPLACE INTO company_info VALUES (001270, 부국증권, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0038 REPLACE INTO company_info VALUES (006400, 삼성SDI, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0039 REPLACE INTO company_info VALUES (028050, 삼성엔지니어링, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0040 REPLACE INTO company_info VALUES (068290, 삼성출판사, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0041 REPLACE INTO company_info VALUES (000810, 삼성화재해상보험, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0042 REPLACE INTO company_info VALUES (003720, 삼영화학공업, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0043 REPLACE INTO company_info VALUES (010960, 삼호개발, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0044 REPLACE INTO company_info VALUES (001290, 상상인증권, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0045 REPLACE INTO company_info VALUES (136490, 선진, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0046 REPLACE INTO company_info VALUES (002420, 세기상사, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0047 REPLACE INTO company_info VALUES (004490, 세방전지, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0048 REPLACE INTO company_info VALUES (003030, 세아제강지주, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0049 REPLACE INTO company_info VALUES (012600, 센트럴인사이트, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0050 REPLACE INTO company_info VALUES (293940, 신한알파리츠, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0051 REPLACE INTO company_info VALUES (055550, 신한지주, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0052 REPLACE INTO company_info VALUES (003620, 쌍용자동차, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0053 REPLACE INTO company_info VALUES (137310, 에스디바이오센서, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0054 REPLACE INTO company_info VALUES (078520, 에이블씨엔씨, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0055 REPLACE INTO company_info VALUES (012280, 영화금속, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0056 REPLACE INTO company_info VALUES (007310, 오뚜기, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0057 REPLACE INTO company_info VALUES (271560, 오리온, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0058 REPLACE INTO company_info VALUES (105840, 우진, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0059 REPLACE INTO company_info VALUES (008600, 윌비스, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0060 REPLACE INTO company_info VALUES (033270, 유나이티드, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0061 REPLACE INTO company_info VALUES (023800, 인지컨트롤스, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0062 REPLACE INTO company_info VALUES (129260, 인터지스, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0063 REPLACE INTO company_info VALUES (013360, 일성건설, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0064 REPLACE INTO company_info VALUES (081000, 일진다이아, 2021-12-07)
=============
0       004840
1       155660
2       078930
3       001250
4       294870
         ...
2477    199800
2478    217880
2479    222670
2480    331660
2481    212310
Name: code, Length: 2482, dtype: object
[2021-12-07 14:21] #0065 REPLACE INTO company_info VALUES (033240, 자화전자, 2021-12-07)
=============