In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import pymysql, calendar, time, json
import requests

In [8]:
class DBUpdater:
    def __init__(self): # 생성자
        # connect db
        self.conn = pymysql.connect(host='localhost', user='root', password='1234', db='investar', charset='utf8')

        # create tables
        with self.conn.cursor() as curs:
            sql = """
            CREATE TABLE IF NOT EXISTS company_info(
                code VARCHAR(20),
                company VARCHAR(40),
                last_update DATE,
                PRIMARY KEY (code))
            )
            """

            curs.execute(sql)

            sql = """
            CREATE TABLE IF NOT EXISTS daily_price(
                code VARCHAR(20),
                date DATE,
                open BIGINT(20),
                high BIGINT(20),
                low BIGINT(20),
                close BIGINT(20),
                diff BIGINT(20),
                volume BIGINT(20),
                PRIMARY KEY (code, date))
            )
            """
            curs.execute(sql)
            
        self.conn.commit()

    def __del__(self): # 소멸자
        pass

    #krx 에서 종목코드를 크롤링 -> dataframe변환
    def read_krx_code(self):
        url = 'http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=13'
        krx = pd.read_html(url, header=0)[0]
        krx = krx[['종목코드', '회사명']]
        krx = krx.rename(columns={'종목코드': 'code', '회사명': 'company'})
        krx.code = krx.code.map('{:06d}'.format)
        return krx

    #krx로 부터 상장기업 목록 파일 읽어와서 db에 저장
    def update_comp_info(self):
        pass

    # ------------------------------------------------

    #네이버에서 주식시세를 크롤링 -> dataframe 변환
    def read_naver(self, code, company, pages_to_fetch):
        pass

    def replace_into_db(self, df, num, code, company):
        pass

    # ------------------------------------------------

    def execute_daily(self): # 실행시간 설정
        pass

    # ------------------------------------------------

In [9]:
dbu = DBUpdater()
df = dbu.read_krx_code()
df

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near ')' at line 6")