In [31]:
import pandas as pd
import pymysql

In [32]:
df = pd.read_html("http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=13", header = 0)[0]
df.종목코드 = df.종목코드.map('{:06d}'.format)
df

df = df[['회사명', '종목코드']]
df = df.rename(columns={'회사명': 'name', '종목코드': 'code'})
df.head()

        name    code
0      DRB동일  004840
1        DSR  155660
2         GS  078930
3      GS글로벌  001250
4  HDC현대산업개발  294870

In [33]:
print(f'Total tables: {len(df)}')

Total tables: 2484

In [34]:
# 전역변수 선언부
conn, cur = None, None

data1, data2, data3, data4, data5, data6, data7, data8, data9 = "", "", "", "", "", "", "", "", ""

sql = ""

# 메인코드
conn = pymysql.connect(host='localhost', user='root',
                       password='1234', db='miniproject1',  charset='utf8')


cur = conn.cursor()

cur.execute(
    "CREATE TABLE IF NOT EXISTS krx_Table(company char(50), code char(100))")

0

In [35]:
# krx = krx.where((pd.notnull(krx)), None)

print(df['code'][0])
i = 0
for data in range(i,len(df)):
    row1 = df['name'][i]
    row2 = str(df['code'][i])

    sql = """insert into krx_Table(company, code) values(%s, %s);"""
    cur.execute(sql, (row1, row2))
    i += 1

conn.commit()
# cur.close()

004840